<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .photo {
            max-width: 300px;
            max-height: 300px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr.clickable {
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1>Photo Album</h1>

<button th:if="${sortByCreation==true}" onclick="window.location.href='/home?sortBy=title';">Sort by Title</button>
<button th:if="${sortByCreation==false}" onclick="window.location.href='/home?sortBy=creation';">Sort by Creation Date</button>

<h2>Upload a Picture</h2>
<form id="uploadForm" action="/photos" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <button type="submit">Upload</button>
</form>

<h2>Uploaded Pictures</h2>
<table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Creation Date</th>
    </tr>
    </thead>
    <tbody>
    <div id="pictures">
        <tr th:each="photo : ${photos}">
            <td>
                <a th:href="@{'/photo/' + ${photo.id}}">

                    <img class="photo" th:src="@{'/photos/' + ${photo.title}}" th:alt="${photo.title}">
                </a>

            </td>
            <td th:text="${photo.title}"></td>
            <td th:text="${#temporals.format(photo.creationDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </div>
    </tbody>
</table>



U7KC0P
</body>
</html>
